# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/.venv/
.venv/
env/
venv/
ENV/

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# Local database journals
*.db-journal
*.db-wal
*.db-shm

# IDEs & OS
.vscode/
.idea/
.DS_Store
*.swp
